<div>
    Skin: <%= req.params.sk %>
    Head: <%= req.params.hd %>
    Hands: <%= req.params.hn %>
    Hair: <%= req.params.hr %>
    Eyes: <%= req.params.he %>
    Body: <%= req.params.bd %>
    Clothes: <%= req.params.cl %>
    Action: <%= req.params.act %>
    Direction: <%= req.params.dr %>

</div>